.header {
    background-color: #161616;
    color: #939393;
}

.nav {
    display: block;
}

.logo {
    display: block;
    
}

.heder-nav-serch {
    display: flex;
}

.btn {
    border-color: transparent;
    background-color: transparent;
    color: #939393;
}

.header-nav {
    display: flex;
}

.nav-ul {
    display: flex;
    
}

.nav-list {
    display: block;
    /* text-transform: none; */
    
}

.href {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}