/* .header-container {
    height: 87px;
} */

/* .nav {
    display: flex;
} */

/* .nav-ul {
    display: block;
} */

.header-nav {
    display: flex;
    /* display: block; */
    border: 1px solid black;
    
}

.btn {
    background-color: transparent;
    border: 1px solid red;
}

.heder-nav-serch {
    display: block;

    width: 229px;
    border: 1px solid #939393;
    border-radius: 11px;
}

li {
    display: block;
}

.logo {
    display: block;
}